<div class="news-pic-div">
    <a href="http://www.huffingtonpost.com/chelsea-clinton/getting-to-the-stem-of-ge_b_3002058.html">
        <img class="news-pic" src="<%= asset_path 'huffpo.jpg' %>">
    </a>
    <a href="https://www.youtube.com/watch?v=gntsK6Rud2M">
        <img class="news-pic" src="<%= asset_path 'cgi.jpg' %>">
    </a>
    <a href="http://www.usnews.com/education/high-schools/articles/2012/05/31/college-mentors-key-to-prospective-female-stem-majors">
        <img class="news-pic" src="<%= asset_path 'usnews.jpg' %>">
    </a>       
</div>

<% (0...@articles.size).step(2) do |i| %>
<div class="row">
  <div class="small-6 column">
    <p class="article-title">
     <em><%= link_to @articles[i][:title], @articles[i][:src]%></em>
    </p>
    <p class="article-blurb">
      <%= @articles[i][:blurb] %>
    </p>
  </div>
  <% if i+1 < @articles.size %>
  <div class="small-6 column">
    <p class="article-title">
      <em><%= link_to @articles[i+1][:title], @articles[i+1][:src]%></em>
    </p>
    <p class="article-blurb">
      <%= @articles[i+1][:blurb] %>
    </p>
  </div>
  <% end %>
</div>
<% end %>

