.row
  .small-4.column#photo
    = link_to image_tag('photos1.jpg'), '/photos/1'
  .small-4.column#photo
    = link_to image_tag('photos2.jpg'), '/photos/2'
  .small-4.column#photo
    = link_to image_tag('photos3.jpg'), '/photos/3'
    
.row
  .small-4.column#photo
    = link_to image_tag('photos4.jpg'), '/photos/4'
  .small-4.column#photo
    = link_to image_tag('photos5.jpg'), '/photos/5'
  .small-4.column#photo
    = link_to image_tag('photos6.jpg'), '/photos/6'
    
.row
  .small-4.column#photo
    = link_to image_tag('photos7.jpg'), '/photos/7'
  .small-4.column#photo
    = link_to image_tag('photos8.jpg'), '/photos/8'
  .small-4.column#photo
    = link_to image_tag('photos10.jpg'), '/photos/10'
    
.row
  .small-4.column#photo
    = link_to image_tag('photos11.jpg'), '/photos/11'
  .small-4.column#photo
    = link_to image_tag('photos12.jpg'), '/photos/12'
  .small-4.column#photo
    = link_to image_tag('photos13.jpg'), '/photos/13'