<!DOCTYPE html>
<html>
<head>
  <title>Girls Engineering Change</title>
  <%= favicon_link_tag 'letters-2.ico' %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="logo">
  <a href="/">
    <img src="<%= asset_path 'logofull-blue.png' %>">
  </a>
</div>

<div class="nav-div"> 
<ul class="nav">
    <li><%= link_to "home", "/" %></li>
    <li><%= link_to "our mission", "/about" %></li>
    <li><%= link_to "photos", "/photos" %></li>
    <li><%= link_to "who we are", "/people" %></li>
    <li><%= link_to "gec in the news", "/news" %></li>
    <li><%= link_to "contact", "/contact" %></li>
</ul>
</div>

<%= yield %>

<div data-scrollreveal = "enter right after .45s"> 
<ul class="navcon">
    <li>contact us:</li>
    <li>
        <%= link_to "facebook", "https://www.facebook.com/pages/Girls-Engineering-Change/500986659983924?fref=ts"%>
    </li>
    <li>
        <%= link_to "email", "mailto:girlsengineeringchange@gmail.com"%>
    </li>
    <li>
      website design by <%= link_to "Chris Dieckhaus", "mailto:christopherdieckhaus@gmail.com"%>
    </li>
</ul>
</div>
</body>
</html>
