<!DOCTYPE html>
<html>
<head>
  <title>Girls Engineering Change</title>
  <%= favicon_link_tag asset_path 'favicon.ico' %>
   <%= javascript_include_tag  "vendor/jquery" %>
  <%= stylesheet_link_tag "foundation" %>
  <%= javascript_include_tag  "foundation.min" %>
  <%= stylesheet_link_tag    "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
 
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Glegoo:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
</head>
<body>

<div class="body-box">
<div class="logo">
  <a href="/">
    <img src="<%= asset_path 'logofull-blue.png' %>">
  </a>
</div>

<div class="nav-div"> 
<ul class="nav">
    <li><%= link_to "home", "/" %></li>
    <li><%= link_to "our mission", "/about" %></li>
    <li><%= link_to "photos", "/photos" %></li>
    <li><%= link_to "who we are", "/people" %></li>
    <li><%= link_to "gec in the news", "/news" %></li>
    <li><%= link_to "contact", "/contact" %></li>
</ul>
</div>

<%= yield %>

<div> 
<ul class="navcon">
    <li>contact us:</li>
    <li>
        <%= link_to "facebook", "https://www.facebook.com/pages/Girls-Engineering-Change/500986659983924?fref=ts"%>
    </li>
    <li>
        <%= link_to "email", "mailto:girlsengineeringchange@gmail.com"%>
    </li>
    <li>
      website design by <%= link_to "Chris Dieckhaus", "mailto:christopherdieckhaus@gmail.com"%>
    </li>
</ul>
</div>
</div>
</body>
</html>
